/* Default styling for cancel button */
div.cancel-button{
    position: relative;
    background-color: darkred !important;
    font-size: 30px !important;
}

/* Default styling for receiver cancel button */
div.cancel-button-receiver{
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: darkred !important;
    font-size: 30px !important;
    cursor: auto !important;
    font-size: 20px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: black;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div.cancel-button-receiver > span{
    margin: 5px;
}

/* Default styling for rwc-button-action-start */
div.rwc-button-action-start{
    font-size: 20px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: black;
    color: white;
    background-color: black;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div.rwc-button-action-start:active{
    background-color: gray;
    color: black;
    cursor:pointer;
}

div.rwc-button-action-start > span{
    margin: 5px;
}

/* Default styling on receiver interface */
div.rwc-button-action-start-receiver{
    font-size: 20px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: black;
    color: white;
    background-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Same effect as active but for receiver interfaces */
div.rwc-button-action-start-clicked{
    background-color: gray;
    color: black;
    font-size: 20px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div.rwc-button-action-start-clicked > span{
    margin: 5px;
}

div.rwc-button-action-start-receiver > span{
    margin: 5px;
}

/* Default styling for rwc-button-action-start-busy */
div.rwc-button-action-start-busy{
    font-size: 20px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: gray;
    color: gray;
    background-color: lightgray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div.rwc-button-action-start-busy > span{
    margin: 5px;
}


/* Default styling for rwc-text-action-start */
span.rwc-text-action-start{
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

span.rwc-text-action-start:active{
    color: grey;
    cursor:pointer;
}

/* Default styling on receiver interface */
span.rwc-text-action-start-receiver{
    font-weight: bold;
    text-decoration: underline;
    cursor:auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Same effect as active but for reciever interfaces */
span.rwc-text-action-start-clicked{
    color: grey;
    cursor:pointer;
    text-decoration: underline;
    font-weight: bold;
}


/* Default styling for rwc-text-action-start-busy */
span.rwc-text-action-start-busy{
    color: grey;
    font-weight: bold;
    text-decoration: underline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* Default styling for rwc-img-action-start */
img.rwc-img-action-start {
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

img.rwc-img-action-start:active{
    filter: saturate(0%);
    cursor:pointer;
}

img.rwc-img-action-start-receiver {
    cursor:auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Same effect as active but for reciever interfaces */
img.rwc-img-action-start-clicked{
    filter: saturate(0%);
    cursor:pointer;
}

img.rwc-img-action-start-busy{
    filter: saturate(0%);
}